.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    background-color: #ec0707;
    padding: 0 2px;
}

.project_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 40vh;
    margin: 10px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 100px 0 rgba(9, 233, 24, 0.2), 0 0 200px 0 rgba(230, 0, 255, 0.19);
    padding: 5px;
    /* gradient box shadow */
}

.project_card_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;

}

.project_card_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.project_card_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.project_card_image img {
    width: 20vw;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.project_card:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
}

.project_title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 12px;
}

.project_description{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px;
    height: 100%;
    overflow: scroll;
}

.project_link{
    font-size: 1rem;
    font-weight: 400;
    color: blue;
}

.project_link:hover{
    color: #fff;
}

.project_tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vh;

    color: #fff;
    border-radius: 0 0 10px 0px;
}

.project_tag{
    font-size: 6px;
    font-weight: 400;
    margin: 2px;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80vh;
        overflow: scroll;
        background-color: #ec0707;
        padding: 0 2px;
    }

    .project_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: black;
        border-radius: 10px;
        box-shadow: 0 0 100px 0 rgba(9, 233, 24, 0.2), 0 0 200px 0 rgba(230, 0, 255, 0.19);
        padding: 5px;
        /* gradient box shadow */
    }
    
    .project_card_left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: auto;
        border-radius: 10px 0 0 10px;
    }

    .project_card_right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: auto;
        border-radius: 0 10px 10px 0;
    }

    .project_description{
        font-size: 10px;
        font-weight: 400;
        margin: 10px;
        height: 100%;
        overflow: scroll;
    }

    .project_card_image img {
        width: 100%;
        height: auto;
        border-radius: 10px 0 0 10px;
    }
}

